
  .image{
    padding-left: 80px;
}

.card {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color:#D0D0CE;
  color:#53565A;
}


.container{
    padding-top: 1px;
    padding-left: 1%;
}

.column {
    float: left;
    width: 45%;
    padding: 0 10px;
  }

  .page{
    text-align: center; background-color:black; padding: 5px;
    margin-bottom: -2px;color: #86BC25;
    border-bottom: 1px solid rgb(233, 240, 233)
  }

  .heading{
    text-align: center; margin-bottom: -5px;
    color:#D0D0CE;
  }

  .p-progressbar .p-progressbar-value {
    border: 0 none;
    margin: 0;
    background: linear-gradient(
      86deg,
      rgba(0, 163, 224, 1) 54%,
      rgba(0, 118, 168, 1) 100%
    );
    box-shadow: 0 0 0 0.2rem #a6d5fa;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
    color: #D0D0CE;
  }
  
  tr:nth-child(even) {
    background-color:#53565A;
    
  }
  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #86BC25;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #000000;
}