<div class="main">
    <p style="text-align: center; font-size: 25px;color:#D0D0CE">Team Members Details </p>
    <div class="details">
        <table>
            <tr>
                <th style="color: #86BC25;width: 200px; font-weight: bold;">NAME</th>
                <th style="color: #86BC25;" *ngFor="let days of totalDays; let i = index">Day {{i + 1}}</th>
                <th style="color: #86BC25;font-weight: bold;">Total KMs</th>
            </tr>
            <tr *ngFor="let team of teamData">
                <td style="width: 200px;">{{team.name | uppercase}}</td>
                <td *ngFor="let kms of team.totalKMSAsOfNow">{{kms.value}}</td>
                <td>{{team.asOfDateCount}}</td>
            </tr>
        </table>

    </div>
</div>
<div class="details"><button type="button" style="margin-top: 5px;" (click)="onClickOk()">Close</button></div>
